<div _ngcontent-kix-c8="" class="card">
	<div _ngcontent-kix-c8="" class="card-header card-header-danger"><h3 _ngcontent-kix-c8="" class="card-title">Notifications</h3>
		<p _ngcontent-kix-c8="" class="card-category">Handcrafted by our friend 
			<a _ngcontent-kix-c8="" href="https://github.com/mouse0270" target="_blank">Robert McIntosh</a>. Please checkout the 
			<a _ngcontent-kix-c8="" href="http://bootstrap-notify.remabledesigns.com/" target="_blank">full documentation.</a></p>
		</div>
		<div _ngcontent-kix-c8="" class="card-body">
			<div _ngcontent-kix-c8="" class="row">
				
				<div _ngcontent-kix-c8="" class="col-md-6"><h4 _ngcontent-kix-c8="" class="card-title">Notification states</h4>
					<div _ngcontent-kix-c8="" class="alert alert-info">
						<button _ngcontent-kix-c8="" aria-label="Close" class="close mat-button" data-dismiss="alert" mat-button="" type="button">
							<span class="mat-button-wrapper"><i _ngcontent-kix-c8="" class="material-icons">close</i>
							</span>
							<div class="mat-button-ripple mat-ripple" matripple=""></div>
							<div class="mat-button-focus-overlay"></div>
						</button>
						<span _ngcontent-kix-c8=""><b _ngcontent-kix-c8=""> Info - </b> This is a regular notification made with ".alert-info"</span>
					</div>
					<div _ngcontent-kix-c8="" class="alert alert-warning">
						<button _ngcontent-kix-c8="" aria-label="Close" class="close mat-button" data-dismiss="alert" mat-button="" type="button">
							<span class="mat-button-wrapper"><i _ngcontent-kix-c8="" class="material-icons">close</i>
							</span>
							<div class="mat-button-ripple mat-ripple" matripple=""></div>
							<div class="mat-button-focus-overlay"></div>
						</button><span _ngcontent-kix-c8=""><b _ngcontent-kix-c8=""> Warning - </b> This is a regular notification made with ".alert-warning"</span>
					</div>
					<div _ngcontent-kix-c8="" class="alert alert-danger">
						<button _ngcontent-kix-c8="" aria-label="Close" class="close mat-button" data-dismiss="alert" mat-button="" type="button">
							<span class="mat-button-wrapper"><i _ngcontent-kix-c8="" class="material-icons">close</i></span>
							<div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div>
						</button>
						<span _ngcontent-kix-c8=""><b _ngcontent-kix-c8=""> Danger - </b> This is a regular notification made with ".alert-danger"</span>
					</div>
					<div _ngcontent-kix-c8="" class="alert alert-primary">
						<button _ngcontent-kix-c8="" aria-label="Close" class="close mat-button" data-dismiss="alert" mat-button="" type="button">
							<span class="mat-button-wrapper"><i _ngcontent-kix-c8="" class="material-icons">close</i></span>
							<div class="mat-button-ripple mat-ripple" matripple=""></div>
							<div class="mat-button-focus-overlay"></div>
						</button>
						<span _ngcontent-kix-c8=""><b _ngcontent-kix-c8=""> Primary - </b> This is a regular notification made with ".alert-primary"</span>
					</div>
				</div>
			</div>
		</div>
	</div>