




<nav _ngcontent-c1="" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned" id="navbar-main">
   <div _ngcontent-c1="" class="container"><a _ngcontent-c1="" class="navbar-brand mr-lg-5" ></a>
   <div _ngcontent-c1="" class="navbar-collapse collapse" id="navbar_global"> <div class="circle"></div>

  </div></div></nav>




           <main _ngcontent-c16="">
               <!-- Ajouter les cercles petits -->
   

  

            <section _ngcontent-c16="" class="section section-shaped section-lg" style="background-color: rgb(100,149,237);" padding="2rem;">
<div class="cercle cercle-petit" style="top: 10%; left: 5%;"></div>
               <div _ngcontent-c16="" class="shape shape-style-1 bg-gradient-default"><span _ngcontent-c16=""></span><span _ngcontent-c16=""></span><span _ngcontent-c16=""></span><span _ngcontent-c16=""></span><span _ngcontent-c16=""></span><span _ngcontent-c16=""></span><span _ngcontent-c16=""></span><span _ngcontent-c16=""></span></div>
   <div class="cercle cercle-petit" style="top: 80%; left: 90%;"></div>
               <div _ngcontent-c16="" class="container pt-lg-md">
                  <div _ngcontent-c16="" class="row justify-content-center"><div _ngcontent-c16="" class="col-lg-5"><div _ngcontent-c16="" class="card bg-secondary shadow border-0">
                     <div _ngcontent-c16="" class="card-header bg-white pb-5"><div _ngcontent-c16="" class="text-muted text-center mb-3"><small _ngcontent-c16="">Sign in </small></div>

   
                     </div> <div class="cercle cercle-grand" style="top: 0.01%; left: 150%;"></div>
                     <div _ngcontent-c16="" class="card-body px-lg-5 py-lg-5"><div _ngcontent-c16="" class="text-center text-muted mb-4"></div><form _ngcontent-c16="" novalidate="" role="form" class="ng-untouched ng-pristine ng-valid">
                        <div _ngcontent-c16="" class="form-group mb-3">
                           <div _ngcontent-c16="" class="input-group input-group-alternative"><div _ngcontent-c16="" class="input-group-prepend"><span _ngcontent-c16="" class="input-group-text"><i _ngcontent-c16="" class="ni ni-email-83"></i></span>
                          
   
   <div class="cercle cercle-grand" style="top: 50%; right: 180%;"></div></div>

   <input _ngcontent-c16="" class="form-control" placeholder="Email" type="email"></div></div>
                           <div _ngcontent-c16="" class="form-group">
                              <div _ngcontent-c16="" class="input-group input-group-alternative">
                                 <div _ngcontent-c16="" class="input-group-prepend"><span _ngcontent-c16="" class="input-group-text"><i _ngcontent-c16="" class="ni ni-lock-circle-open"></i></span></div>

                                 <input _ngcontent-c16="" class="form-control" placeholder="Password" type="password"></div></div><div _ngcontent-c16="" class="custom-control custom-control-alternative custom-checkbox"><input _ngcontent-c16="" class="custom-control-input" id=" customCheckLogin" type="checkbox"><label _ngcontent-c16="" class="custom-control-label" for=" customCheckLogin"><span _ngcontent-c16="">Remember me</span></label></div><div class="cercle cercle-petit" style="top: 100%; right: 190%;"></div>
                                 <div _ngcontent-c16="" class="text-center"><button _ngcontent-c16="" class="btn btn-primary my-4" type="button">Sign in</button></div></form></div>
                             
   
   <div class="cercle cercle-grand" style="top: 70%; left: 120%;"></div></div>
                                
                                 </div>
                              </div>
                           </div>
                        </section>
                     </main>
