<div class="container my-5">
  <h1 class="mb-3">Employees</h1>

<table class="table" *ngIf="employees && employees.length >0">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Matricule</th>
      <th>Matricule_Responsable</th>
      <th>Fonction</th>
      <th>Role</th>
      <th>Date_Recrutement</th>
      <th>Email</th>
      <th>Compte_Winds</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">

      <td>{{ employee.employe_id }}</td>
      <td>{{ employee.nom }}</td>
      <td>{{ employee.prenom }}</td>
      <td>{{ employee.matricule }}</td>
      <td>{{ employee.matricule_resp }}</td>
      <td>{{ employee.fonction }}</td>
      <td>{{ employee.role }}</td>
      <td>{{ employee.date_recrutement }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.compte_winds }}</td>
    </tr>
  </tbody>
</table>
<p *ngIf="!employees || employees.length <= 0">No Employees Found</p>
</div>
